body{
    padding:0px;
    background-color: white;
    margin:auto;
}
.menu{
    width:742px;
    height:155px;
    padding:0px;
    border:2px solid black;
    margin:auto;
    display: flex;
    flex-wrap: nowrap;
}
.budiv{
    width:255px;
    height:153px;
    border:1px solid black;
}
.buttons{
    width:255px;
    height:153px;
    padding:0px;
}
.species{
    margin:25px 25px 0px 25px;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}
.center{
    padding:10px 0px 0px 30px;
}
.c01{
    color: rgb(0,66,255);
    font-weight: bold;
}
.c02{
    color:magenta;
    font-weight: bold;
}
.c03{
    color:skyblue;
    font-weight: bold;
}
.c04{
    color:orange;
    font-weight: bold;
}
.c05{
    color:violet;
    font-weight: bold;
}
.c06{
    color:purple;
    font-weight: bold;
}
.c07{
    color:yellow;
    font-weight: bold;
}
.c08{
    color:yellow;
    font-weight: bold;
}
.c09{
    color:rgb(128,0,0);
    font-weight: bold;
}
.c10{
    color:skyblue;
    font-weight: bold;
}
.c11{
    color:violet;
    font-weight: bold;
}
.c12{
    color:orange;
    font-weight: bold;
}
.c13{
    color:gray;
    font-weight: bold;
}
.c14{
    color:rgb(255,0,128);
    font-weight: bold;
}
.c15{
    color:rgb(204,102,51);
    font-weight: bold;
}