/* 링크 스타일구현 */
a{
    /* 밑줄제거 */
    text-decoration: none; 
    /* 색깔제거 */
    color: black;
}


ul , li { 

    /* 정확한 위치지정을 위해 */
    margin:0px; 
    padding:0px;

    /*리스트 구분자 안보이게 */
    list-style: none;
}

p{
    margin: 0px;
    padding:0px;
}


main{
    margin: 0px 80px;
}
