#line1{
    background-color: #0052a4;
}
#line2{
    background-color:#00a84d;
}
#line3{
    background-color: #ef7c1c;;
}
#line4{
    background-color: #00a4e3;
}
#line5{
    background-color: #996cac;
}
#line6{
    background-color: #cd7c2f;
}
#line7{
    background-color: #747f00;
}
#line8{
    background-color: #e6186c;
}